* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    

}
#hero{
    min-height: 100vh;
    position: relative;
}
video{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;   
}

.contenedor {
    height: 500px;
    background-color: black;
    display: flex;

}

.video {
    display: flex;
    padding: 10px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px; 
    
}

.defi {
    display: flex;
    color: whitesmoke;

    padding: 20px;
    padding-left: 10px;
    padding-right: 10px; 
    text-align: justify;
   
}


.h1videos {
    padding-left: 50px;
    padding-right: 50px; 
    text-align: center;
    align-content: center;
    background-color: black;
    height: 40px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.h1libros {
    text-align: center;
    background-color: black;
    height: 40px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-left: 50px;
    padding-right: 50px; 
}

.libros {
    text-align: center;
    display: flex;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px; 
}

.descripcionlibro {
    display: flex;
    color: whitesmoke;
    margin: auto;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px; 
    text-align: justify;
}

.textbook {
    padding: 10px;
    text-align: justify;
}

.libroelder {
    display: flex;
    padding: 50px;
    margin: auto;
}

.download {
    text-decoration: none;
    color: white;
}

.cursos {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 333px;
}

.libros {
    background-color: black;
    height: 333px;
    padding-bottom: 10px;
}

.sizevideo {
    display: flex;
    width: 300px;
    height: 360px;
}

.resumengraficos {
    color: whitesmoke;
    font-family: cursive;
    font-style: oblique;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.p1{
    width: auto;
    height: auto;
    align-content: center;
    padding: 20px;
    text-align: center;
}


.header { 
   
    align-items: center;
    background-color: black;
}

.principal{
    padding: 30px;
    heig
}

.fondologo {
    display:flex;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100px;
  margin: auto;
    box-shadow: -3px 0 1px violet;
    
}

.nav {
    padding-top: 50px;
    align-content: center;
    background-color: black;
    justify-content: center;
    
}


.nav-item {
    font-size: x-small;
}

.sizemail {
    font-size: x-small;
}

main {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    width: auto;
    height: 800px;
}
#btn{
align-content: center;
height: 20px;
width: 50px;
font-size: x-small;
border-radius: 15px;
cursor: pointer;
display: inline-block;
transition:0.3sec;
background-color: #000;
border: 1px solid white;
color: white;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.news {
    padding: 20px;
    color: blanchedalmond;
    align-content: center;
    justify-content: left;
}


.container {
    height: 100%;
    width: auto;
    top: auto;
    display: flex;
    align-content: center;
    position: relative;
    z-index: 2;

}

.titlestyle {
    text-decoration: none;
    color: blanchedalmond;
}

.card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
    box-shadow: -1px 0 1px violet;
    /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    margin-top: auto;
    margin-bottom: auto;
    left: 0px;
    margin-left: auto;
    margin-right: auto;

}


.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover~.card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

svg {
    fill: #17141d;
    stroke-width: 2px;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}


.maingaleria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000;
}


.general {
    height: auto;
    justify-content: center;
    background-color: black;
    padding: 50px;
}

.footer {
    background-color: black;
width: auto;
height: auto;
}

.iconoscontacto {
    text-align: center;
    color: aliceblue;
}


.spaceinfo {
    display: flex;
    margin-left: 50px;
}


.idea {
    display: flex;

    margin: 50px;
    text-align: center;
    color: beige;
    font-weight: bold;
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    justify-items: center;
    align-items: center;
    justify-items: center;
    align-items: center;
    background-color: black;
    
}

.notice {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    margin: 50px;
    width: auto;
    height: auto;
    background-color: #000;
    box-shadow: -1px 1px 1px 1px violet;
    border-radius: 8px;
    align-content: center;

}

.descripcion {
    text-align: center;
    font-weight: bold;
}


.bibliocontain {
    background-color: black;
    margin: 45px;
    border-radius: 20px;
}

.buttonbiblio {
    text-decoration: none;
}

.containcontacto {
    display: flex;
    width: auto;
    background-color: black;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    
}
.containcontacto1 {
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 70px;

}
.formu{
    text-align: center;
    margin: 20px 0;
    font-weight: 800;
    justify-content: center;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    color: blueviolet;
}

.form{
    background-color: black;
    width: 40%;
    padding: 1px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 blueviolet;
    align-content: center;
    text-align: center;

}
text area{
    background: black;
    color: whitesmoke;
    font-size: 10px;
    padding: 5px 5px 5px 5px;
    align-content: center;
}
label{
    color:whitesmoke;
}
input{
    background: none;
    border-radius: 5px;c
    border-color: blueviolet;
}
.text{
    background: none;
    border-radius: 5px;
    border-color: blueviolet;
    color: blueviolet;
    
}
.contact{
    text-align: center;
    padding: 20px;
   
}
.grupo{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: none;
    border-radius: 5px;
    border-color: blueviolet;
}


.itemform {
    margin: 3px;
}

.botonenviar {
    width: 70px;
    height: 25px;
}

.redes {
    justify-content: center;
    align-items: center;
    background-color: black;
    bottom: auto;
    
}

.etiquetascontacto {
    padding: 30px;
}

.areagraficos {
    display: flex;
    width: 500px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.Sharegraph {
    display: flex;
    flex-direction: column;
    background-color: darkcyan;

}

.tradingview {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    margin: auto;

}

#tradingview_548a1 {
    align-content: center;
    height: 470px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 30px;
}




/* TABLET al ser 1024, trabaja para la vista tablet y vista mobile */
@media screen and (max-width:1024px) {

    .main {
        width: auto;
        height: auto;
    }

    .principal {
        width: auto;
        height: auto;
        align-items: center;
        align-content: center;
    }

    .header {
        width: auto;
        height: auto;
    }

    .general {
        width: auto;
        height: auto;
    }

    .footer {
        width: auto;
        height: auto;
    }

    .notice {
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
        margin: 50px;
        width: auto;
        height: auto;
        background-color: #000;
        box-shadow: -1px 1px 1px 1px violet;
        border-radius: 8px;
        align-content: center;
    
    }

    .cotizaciones-box {
        width: 60px;
        height: 60px;
        align-items: center;
        align-content: center;
    }

    .maingaleria {
        height: auto;
        width: auto;
    }


    .spacegraph {
        width: 700px;
        height: 570px;
    }

    .container-fluid {
        width: auto;
        height: auto;
        align-items: center;
        text-align: center;
    }

    .navbiblioconten {

        width: 100%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav {
        
        width: auto;
        height: auto;

    }

    .containgraph {
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        justify-items: center;
        align-items: center;
        justify-items: center;
        align-items: center;
        background-color: black;
        
    }

    .tarjetas {
        grid-template-columns: repeat(2, 4fr);
        width: auto;
        height: auto;
        padding: 40px;
        align-content: center;

    }

    .news {
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        align-items: center;
    }

    .redes {
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .iconoscontacto {
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contenedor {
        width: auto;
        height: auto;

    }

    .video {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .defi {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .h1videos {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .h1libros {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .libros {
        width: auto;
        height: auto; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .descripcionlibro {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .textbook {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .libroelder {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .download {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .cursos {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .libros {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #tradingview_548a1 {
        width: 650px;
        height: 400px;

    }

    .tradingview {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
    }
    .sizeimg1 {
        width: 292px;
        height: 273px;
        padding:15px;

}

@media screen and (max-width:600px) {

    .main {
        width: auto;
        height: auto;
    }

    .footer {
        width: auto;
        height: auto;
    }
    
    .circle {
        width: auto;
        height: auto;
    }
    .container{
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .card {
        flex-direction: column;
        box-shadow:none;
        border-color: violet;
        color: violet;
        
    }
    
    .title {
        width: auto;
        height: auto;
    }

    .bar {
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .emptybar {
        width: auto;
        height: auto;
    }

    .filledbar {
        width: auto;
        height: auto;
    }

    .stroke {
        width: auto;
        height: auto;
    }

    .principal {
        width: auto;
        height: auto;
        align-items: center;
        align-content: center;
    }

    .header {
        width: auto;
        height: auto;
        
    }

    .tarjetas {
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: auto;
        align-content: center;
        text-align: center;

    }

    .tarjeta1 {

        width: auto;
        height: auto;
        align-content: center;
    }

    .spaceinfo {
        display: none;
        align-content: center;
    }

    .spacegraph {
        display: none;
    }

    .general {
        width: auto;
        height: auto;
        align-content: center;
        padding:0px;
    }

    .navbiblio {
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .news {
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        align-content: center;
    }


    .sizemail {
        width: auto;
        height: auto;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: auto;
        align-content: center;
        text-align: center;
        padding: auto;
    }

    .itemform {
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .bar {
        display: none;
    }

    .title {
        font-size: small;
    }

    .contenedor {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;

    }

    .video {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .sizevideo {
        width: 192px;
        height: 263px;
        padding-bottom: 15px;
    }

    .sizeimg {
        width: auto;
        height: auto;
    }

    .sizeimg1 {
        width: 212px;
        height: 260px;
        padding-bottom: 15px;
    }

    .defi {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .h1videos {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding:50px;
    }

    .h1libros {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding:100px;
    }

    .libros {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .descripcionlibro {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .textbook {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .libroelder {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .download {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .cursos {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .libros {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    #tradingview_548a1 {
        width: 300px;
        height: 500px;

    }

    .resumengraficos {
        width: auto;
        height: auto;
        margin: auto;
    }

    .tradingview {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
    }
    .p1{
        width: auto;
        height: auto;
        align-content: center;
        padding: 20px;
        text-align: center;
    }
    .containcontacto1{
        display: none;
    }
    .contact{
        margin:auto;
        font-weight: auto; 
        width: auto;
        height: auto;
    }
    
    .formu{
        margin:auto;
        font-weight: auto; 
        width: auto;
        height: auto;
        
    }
    .form{
        width: auto;
        height: auto;  
    }
  
    
    

}