.footer {
    background-color: black; }
 .iconoscontacto {
   text-align: center;
   color: aliceblue; 
 }
.news {
    padding: 20px;  
   color: blanchedalmond;
   align-content: center;
   justify-content: left; 
}

.sizemail{
    font-size: x-small;
}
.btn-info{
    font-size: x-small;
    width: 70px;
    height: 24px;
}