.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
   justify-items:center;
   align-items: center;
    justify-items:center;
    align-items: center;
    background-color:blanchedalmond;
}
.notice{
    margin-top: auto;
    margin-bottom: auto;
   align-items: center;
    margin: 10px;
    width: auto;
    height: auto;
    background-color: #000;
    box-shadow: 5px;
    border-radius: 25px;
    align-content: center;

}