@media screen and (max-width:1024px){

    .main{
        width: auto;
        height: auto;
    }
    .principal{
        width: auto;
        height: auto;   
    }
    .header{
        width: auto;
        height: auto;;   
    }
    .general{
       width: auto;
       height: auto;
    }
    .footer{ 
        width:auto ;
        height: auto;
    }
    .cotizaciones{
        width: auto;
        height: auto;
        flex-direction: column;
    
    }
    .cotizaciones-box{
        width: 60px;
        height:60px;
        

    }
    .maingaleria{
        height: auto;
        width: auto;
    }
    .grid{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .spacegraph{
        width: 700px;
        height: 570px;
    }
    .container-fluid{
        width: auto;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .navbiblioconten{
        
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .nav{
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        height: auto;
    
    }
    
      .containgraph{ 
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
      }
    
      .tarjetas{
        grid-template-columns: repeat(2, 4fr);
        width: auto;
        height: auto;
       padding: 40px;
    
      }
    
      .news{  
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
      }
     .redes{ 
        width: auto;
        height: auto;
       flex-direction: column;
       flex-wrap: wrap;
      }
     .iconoscontacto{
        width: auto;
        height: auto;
       flex-direction: column;
       flex-wrap: wrap;
     }
     
}

@media screen and (max-width:600px){

     .main{
        width: auto;
        height: auto;
     }
     .footer{
        width:auto ;
        height: auto;
     }
     .principal{
        width: auto;
        height: auto;   
     }   
     .header{
        width: auto;
        height: auto;;   
     }
    
     .tarjetas{
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: auto;
        align-content: center;
        text-align: center;
        
     }
     .tarjeta1{
        margin: 20px;
        width: auto;
        height: auto;
     }
    .spaceinfo{
        display: none;
        align-content:center ;
     }
     .spacegraph{
        display: none;
     }
    
     .general{
        width: auto;
        height: auto;
     }
     .navbiblio{ 
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
     }
   
     .news{ 
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
       
     }
    

     .sizemail{
      width:auto;
      height: auto;
     }
     .grid{
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        height: auto;
        align-content: center;
        text-align: center;
     }
     .itemform{
      width: auto;
      height: auto;
      flex-direction: column;
      flex-wrap: wrap;
     }

     .bar{
        display: none;
     }
     .title{
        font-size:small;
     }
     
      
    }